<section class="mt-4 w-full">
  <app-banner>Education</app-banner>
  <div class="mx-28 bg-primary-100 rounded-lg text-center animate-fade-right">
    <div class="p-4">
      <h1 class="text-3xl font-bold">Louisiana Tech University</h1>
      <h2 class="italic text-sm">September 2020 - May 2024</h2>
      <h2>Ruston, Louisiana</h2>
      <h2>Bachelor of Science</h2>
      <hr />
      <h2>Major: Computer Science</h2>
      <h2>Concentration: Cyber Security</h2>
      <h2>GPA: 3.7</h2>
    </div>
  </div>
</section>
