<header
  class="w-full bg-gradient-to-r from-primary-500 to-primary-300 py-4 text-center rounded-b-md animate-once animate-fade-down fixed top-0 z-10"
>
  <!-- bg-primary-100  -->
  <h1 class="text-3xl font-bold">Jay Reich's Portfolio</h1>
  <div class="mx-96 flex justify-between">
    <button
      class="hover:text-secondary-500 underline"
      (click)="selectSection('education')"
    >
      Education
    </button>
    <button
      class="hover:text-secondary-500 underline"
      (click)="selectSection('awards')"
    >
      Awards
    </button>
    <button
      class="hover:text-secondary-500 underline"
      (click)="selectSection('projects')"
    >
      Projects
    </button>
    <button
      class="hover:text-secondary-500 underline"
      (click)="selectSection('skills')"
    >
      Skills
    </button>
    <button
      class="hover:text-secondary-500 underline"
      (click)="selectSection('links')"
    >
      Links
    </button>
    <button
      class="hover:text-secondary-500 underline"
      (click)="selectSection('contact')"
    >
      Contact
    </button>
  </div>
</header>
