<section class="mt-4 w-full">
  <app-banner>Contact</app-banner>
  <div class="mx-28 bg-primary-100 rounded-lg text-center animate-fade-right">
    <div class="p-4">
      <form [action]="formUrl" method="POST">
        <label class="flex flex-wrap justify-center">
          <p class="w-full">Email:</p>
          <input
            type="email"
            name="email"
            class="px-2"
            placeholder="example@email.com"
          />
        </label>
        <label class="flex flex-wrap justify-center">
          <p class="w-full">Subject:</p>
          <input
            type="subject"
            name="subject"
            class="px-2"
            placeholder="Example"
          />
        </label>
        <label class="flex flex-wrap justify-center">
          <p class="w-full">Message:</p>
          <textarea
            name="message"
            class="px-2"
            placeholder="message"
          ></textarea>
        </label>
        <!-- your other form fields go here -->
        <button
          type="submit"
          class="bg-primary-300 p-2 rounded-xl hover:bg-primary-500"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</section>
