<section class="mt-4 w-full">
  <app-banner>Skills</app-banner>
  <app-full-card class="animate-fade-right">
    <div class="p-4">
      <h1 class="text-3xl font-bold">Programming Languauges</h1>
      <hr />
      <div class="grid grid-flow-auto grid-cols-4">
        @for (item of programmingLanguages; track $index) {
        <p>{{ item }}</p>
        }
      </div>
    </div>
  </app-full-card>
  <div class="mt-4"></div>
  <app-full-card class="animate-fade-left">
    <div class="p-4">
      <h1 class="text-3xl font-bold">Other</h1>
      <hr />
      <div class="grid grid-flow-auto grid-cols-3">
        @for (item of otherSkills; track $index) {
        <p>{{ item }}</p>
        }
      </div>
    </div>
  </app-full-card>
</section>
