<div
  class="fixed top-0 right-0 w-full h-[100vh] bg-black/[.9] z-10"
  (click)="onClose()"
></div>

<!-- h-[60vh] -->

<div
  class="w-[90%] max-w-4xl z-20 bg-primary-100 p-4 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-xl drop-shadow-lg"
>
  <div class="text-left mx-4">
    <button class="fixed right-8 font-bold text-lg" (click)="onClose()">
      x
    </button>
    <h2 class="text-2xl mb-1 font-bold">{{ project.name }}</h2>
    <h2 class="mb-1">{{ project.startDate }} - {{ project.endDate }}</h2>
    <h2 class="font-bold text-lg">Skills:</h2>
    <h2>{{ project.skills }}</h2>
    <h2 class="font-bold text-lg">Description:</h2>
    <ul>
      @for (item of project.fullSummary; track $index) {
      <li>{{ item }}</li>
      }
    </ul>
    @if (project.links.length > 0) {
    <h2 class="font-bold text-lg">Links:</h2>
    <ul>
      @for (tempLink of project.links; track $index) {
      <li>
        <a
          class="text-blue-400 underline"
          [href]="tempLink[1]"
          target="_blank"
          >{{ tempLink[0] }}</a
        >
      </li>
      }
    </ul>
    }
  </div>

  <!-- <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/_MSd2vCZSHE?si=fxsQKhbjiN5Zazjm"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe> -->
</div>
